
body{
  margin:0;
  padding:0;
  height:100%;
}

.headerM{
  display:flex;
  width:35%;
  justify-content: space-around;
}
.hc{
  display:flex;
  justify-content: space-between;
  height:30%;
  color:white;
  /* background-color: rgba(0,0,0,0.3); */
}

/* size for the background image + text, the goal is to have the header + the first section take 100% of the screen */

.s1{
  height:70%;
  color:white;
  text-align:center;
}
.s1 h3{
  margin-top:15%;
}
.bgc{
  height:100vh;
  background-image: url("https://i.redd.it/fu1gglz420m01.jpg");
  background-size:100% 100%;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.headerI{
  width:20%;
  display:flex;
  justify-content: space-around;
}
.s2{

}
